<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multiverse-magnament</title>
</head>

<body>
    <h1>Bienvenido al Home</h1>
    <a href="/apiroutes/fighter">Fighters</a>
    <a href="/apiroutes/user">Users</a>
    <a href="/apiroutes/object">Objects</a>
    <a href="/apiroutes/mission">Missions</a>
    <a href="/apiroutes/store">Store</a>


</body>

</html>