<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear usuario</title>
</head>

<body>
    <div class="container">
        <form action="http://localhost:3021/apiroutes/user/crearuno" method="POST" class="containerForm">
            <br>
            <label for="name">Name</label>
            <input type="text" name="name">
            <br>
            <label for="email">Email</label>
            <input type="text" name="email">
            <br>
            <label for="password">Password</label>
            <input type="text" name="password">
            <br>
            <label for="profile">Profile</label>
            <input type="text" name="profile">
            <br>
            <label for="avatar">Avatar</label>
            <input type="text" name="avatar">
            <br>
            <label for="money">Money</label>
            <input type="number" name="money">
            <br>
            <input type="submit" value="Crear">
        </form>
    </div>
</body>

</html>